.stat-line {
    padding: 10px;
    border: solid #0a7078 1px;
    border-radius: 10px;
    color: #595959;
    margin: 0;

    p {
      text-align: center;
      margin: 0 0 4px 0;
    }

    p:last-child {
      font-weight: bold;
      color: black;
      margin-bottom: 0;
    }
}
