<app-top-bar buttonText="< Go back" buttonRoute="/" />
@if (loading) {
  <app-loader />
} @else {
  <div class="page-grid">
    <div class="sidebar">
      <app-header [title]="titlePage" [stats]="stats" />
    </div>
    <div class="main-content">
      @if (medals.length > 0) {
        <app-country-chart
          [years]="years"
          [medals]="medals"
          [athletes]="athletes"
          [cities]="cities" />
      } @else {
        <app-empty-state message="No data for this country" />
      }
    </div>
  </div>
}
