<app-top-bar buttonText="< Go back" buttonRoute="/" />
@if (loading$ | async) {
  <app-loader />
} @else {
  @if (countryData$ | async; as data) {
    <div class="page-grid">
      <div class="sidebar">
        <app-header [title]="data.titlePage" [stats]="data.stats" />
      </div>
      <div class="main-content">
        @if (data.medals.length > 0) {
          <app-country-chart
            [years]="data.years"
            [medals]="data.medals"
            [athletes]="data.athletes"
            [cities]="data.cities" />
        } @else {
          <app-empty-state message="No data for this country" />
        }
      </div>
    </div>
  }
}
