/* You can add global styles to this file, and also import other style files */
.heading {
    flex-direction: column;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 5px;
}
